@import url('https://fonts.goolgeapis.com/css2?family+Poppins:wght@700&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: blueviolet;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card-content {
  display: flex;
  align-items: center; 
}
.map-image {
  
  margin-right: 65px; 
}

.text-container {
  flex: 1; /* Allow text container to grow and fill available space */
}

.map-image {
  width: 75%;
  height: 475px;
}

#headers {
 color: white;
  text-align: center;
}
#body-wrapper {
  display:flex;
  flex-direction: column;
 
}

.movie-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.movie-card {
  background-color: dimgray;
  width: calc(33.33% - 30px); 
  color: black;
  margin: 15px; 
  display: flex;
  flex-direction: column;
}


.movie-card .card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.movie-card .list-group-item {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: none;
  color: black; 
}


.movie-card button:hover {
  background-color: #646cff;
}


  .movie-card {
    background-color: #f9f9f9;
  }
  .weather-container{
    background-color: black;
    color: white;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
  }
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14vw;
  color: black;
  -webkit-text-stroke: 0.3vw peru;
  text-transform: uppercase;
  
}
h1::before {
content:attr(Welcome);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
color: peru;
-webkit-text-stroke:  0vw peru;
border-right: 2px solid yellow;
overflow: hidden;


}